name: Resume builder

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  resume:
    runs-on: ubuntu-latest
    container:
      # docker://svendowideit/jsonresume:latest
      image: svendowideit/jsonresume:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: resume - Add themes
        run: |
          npm config set unsafe-perm true
          npm install -g \
            jsonresume-theme-elegant

      - name: resume - index.html update
        shell: bash
        run: |
          for USRDIR in $GITHUB_WORKSPACE/html/*/ ; do
              pushd "$USRDIR"
              resume export --theme /usr/local/lib/node_modules/${THEME} --format html index.html -r resume.json
              popd 2>&1 > /dev/null
          done
      - name: Update repo
        uses: test-room-7/action-update-file@v1
        with:
            file-path: $GITHUB_WORKSPACE/html/*/index.html
            commit-msg: Update resumes
            github-token: ${{ secrets.GITHUB_TOKEN }}
